body {
	font-family: "Helvetica Neue Bold", Roboto, Helvetica, Arial, sans-serif;
	font-size:15px;
	margin: 0 auto;
	background-color:#7c5472
	color:yellow;
}

.login,
.logout {
float: right;
padding: 10px;
font-size: 17px;
border: #7c5472;
color: #5c70d5;
margin: 10px;
}
.container{
	background-color: #f8e6d0;
}

.main-title-container{
	background-color:#660f0b;
}

.main-title {
	  text-align: center;
		float: left;
		width: 90%;
		padding-left: 10%;
    color: #dbdedb;
    text-decoration: none;
}

.h1{
	color: #ffbdbd;
	font-size:35px;

}
.h2{
	color: #802323;
	font-size: 25px;


}
