{% extends "main.html" %}
{% block content %}

	<div class="row">
		<div class="col-md-12 titles text-center">
			<h1>New Category</h1>

		</div>

	</div>
	<div class="row text-center">
		<div class="col-md-4">
		</div>
		<div class="col-md-4 font form">
			<form  action="{{url_for('newCategory')}}" method="post">
				<table class="form">
					<tr>
						<td>Category Name</td>

						<td><input class="text-font" type="text" name="name"</td>
					</tr>
          
				</table>
				<input type="submit"  value="Create" class="form-buttons">
			</form>
			<form class="text-center">
				<button class="form-buttons" formaction="{{url_for('showCategories')}}">Cancle</button>

			</form>
		</div>

	</div>
{% endblock %}
