{% extends "main.html" %}
{% block content %}

	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>New Movie name</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="{{url_for('newMenuItem',category_name=category.name)}}" method = "post">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type ="text" maxlength="50" class="form-control" name="name"placeholder="Name of the movie">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description" placeholder="Description of the movie"></textarea>

					<label for="price">Price:</label>
					<div class="input-group">
						<div class="input-group-addon">$</div>
						<input type ="text" class="form-control" maxlength="10" name="price" placeholder="Price in $">
					</div>
					<button type="submit" class="btn create" type="submit">
					Create</button>
					<a href="{{url_for('showMenu',category_name=category.name)}}">
						<button type="button" class="button cancel">Cancel</button>
					</a>

				</div>
			</form>
		</div>
	</div>
{% endblock %}
